/* 省略 */
.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* flex */
@mixin normalFlex ($direction: row, $justify: space-between){
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
}